version: '3.8'
services:
  dowsing-rod:
    build: .
    env_file: .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    ports:
      - '8080:8080'
    depends_on:
      - redis

  redis:
    image: redis:6.0.8-alpine
